#!/usr/bin/make -f
# -*- makefile -*-

PKG = $(word 2,$(shell dpkg-parsechangelog | grep Source))
VER ?= $(shell cat VERSION)
DOWNLOAD_URL = "https://github.com/rycus86/prometheus_flask_exporter/archive/refs/tags/${VER}.tar.gz"

export PYBUILD_NAME=prometheus-flask-exporter
export PYBUILD_DISABLE=test
export PYBUILD_SYSTEM=distutils

%:
	dh $@ --with python3 --buildsystem=pybuild

.PHONY: get-orig-source

get-orig-source:
	@echo "# Downloading..."
	wget -nv -T10 -t3 $(DOWNLOAD_URL) -O ../$(PKG)_$(VER).orig.tar.gz
